extends layout

block content

  .row(ng-controller="DashboardCtrl")

    include widgets/alerts.jade

    include widgets/player-stats.jade

    include widgets/inventory.jade

    include widgets/current-auction.jade

    include modals/auction.jade