extends layout

block content
  .panel.panel-default
    .panel-heading
      h3.panel-title Welcome Aboard!
    .panel-body
      p
        | Greetings, adventurer! Before you enter on our auction house, we must know your username:

      form(method="POST" action="/login")
        .form-group
          input.form-control(name="username" type="text" placeholder="Username")

        .form-group
          button.btn.btn-primary
            | Enter
