extends layout

block content
  .panel.panel-default
    .panel-heading
      h3.panel-title Welcome Aboard, Adventurer!
    .panel-body
      p
        | Greetings!
        br 
        | Before our guards let you enter on our auction house,
        br
        | We must know your Battlefield Name:

      form(method="POST" action="/login")
        .form-group
          input.form-control(name="username" type="text" placeholder="Username")

        .form-group
          button.btn.btn-primary
            | Enter
