doctype html
html(ng-app="AuctionHouse")
  head
    title= title
    
    // jQuery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")

    // Angular.JS
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js")
    
    // Bootstrap
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
    // jQuery Countdown
    link(rel="stylesheet", href="/stylesheets/jquery.countdown.css")
    script(src="/javascripts/jquery.plugin.min.js")
    script(src="/javascripts/jquery.countdown.min.js")
    
    // Socket.io
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    
    // Application
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/app.js")
    script(src="/javascripts/controllers.js")
    script(src="/javascripts/services.js")
    script(src="/javascripts/directives.js")
  body
    block content
